<div {{ attributes.addClass('swiper-slide') }}>
  {# Keep the outer div whenever possible it is a nice way to ensure the presence of "attributes" #}
  <div class="swiper-inner">
  {% block slide_body %}
    The contents of the example block
  {% endblock %}
  </div>
</div>
