/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,3,1920-1200-768-320&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
:root {
  --step--3: clamp(0.64rem, 0.6552rem + -0.0196vw, 0.6513rem);
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.9438rem, 1.7707rem + 0.8652vw, 2.4413rem);
  --step-4: clamp(2.3325rem, 2.0823rem + 1.2511vw, 3.0519rem);
  --step-5: clamp(2.7994rem, 2.4461rem + 1.7663vw, 3.815rem);
}

html.small {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.25,5,3,1920-1200-768-320&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--3: clamp(0.5763rem, 0.5796rem + -0.0043vw, 0.5788rem);
  --step--2: clamp(0.6944rem, 0.6855rem + 0.0446vw, 0.72rem);
  --step--1: clamp(0.8331rem, 0.8099rem + 0.1163vw, 0.9rem);
  --step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --step-1: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
  --step-2: clamp(1.44rem, 1.3293rem + 0.5533vw, 1.7581rem);
  --step-3: clamp(1.7281rem, 1.5649rem + 0.8163vw, 2.1975rem);
  --step-4: clamp(2.0738rem, 1.8396rem + 1.1707vw, 2.7469rem);
  --step-5: clamp(2.4881rem, 2.1594rem + 1.6435vw, 3.4331rem);
}

html.xsmall {
  /* @link https://utopia.fyi/type/calculator?c=320,14,1.2,1240,16,1.25,5,3,1920-1200-768-320&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--3: clamp(0.5063rem, 0.5043rem + 0.0098vw, 0.5119rem);
  --step--2: clamp(0.6075rem, 0.5962rem + 0.0565vw, 0.64rem);
  --step--1: clamp(0.7294rem, 0.7048rem + 0.1228vw, 0.8rem);
  --step-0: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
  --step-1: clamp(1.05rem, 0.9804rem + 0.3478vw, 1.25rem);
  --step-2: clamp(1.26rem, 1.1548rem + 0.5261vw, 1.5625rem);
  --step-3: clamp(1.5119rem, 1.3584rem + 0.7674vw, 1.9531rem);
  --step-4: clamp(1.8144rem, 1.5963rem + 1.0902vw, 2.4413rem);
  --step-5: clamp(2.1775rem, 1.8734rem + 1.5207vw, 3.0519rem);
}

html.large {
  /* @link https://utopia.fyi/type/calculator?c=320,19,1.2,1240,21,1.25,5,3,1920-1200-768-320&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--3: clamp(0.6719rem, 0.6929rem + -0.0272vw, 0.6875rem);
  --step--2: clamp(0.8244rem, 0.8189rem + 0.0272vw, 0.84rem);
  --step--1: clamp(0.9894rem, 0.9683rem + 0.1054vw, 1.05rem);
  --step-0: clamp(1.1875rem, 1.144rem + 0.2174vw, 1.3125rem);
  --step-1: clamp(1.425rem, 1.35rem + 0.375vw, 1.6406rem);
  --step-2: clamp(1.71rem, 1.5915rem + 0.5924vw, 2.0506rem);
  --step-3: clamp(2.0519rem, 1.8738rem + 0.8902vw, 2.5638rem);
  --step-4: clamp(2.4625rem, 2.2045rem + 1.2902vw, 3.2044rem);
  --step-5: clamp(2.955rem, 2.5896rem + 1.8272vw, 4.0056rem);
}

html.xlarge {
  --step--3: clamp(0.7956rem, 0.7941rem + 0.0076vw, 0.8rem);
  --step--2: clamp(0.955rem, 0.9393rem + 0.0783vw, 1rem);
  --step--1: clamp(1.1456rem, 1.1093rem + 0.1815vw, 1.25rem);
  --step-0: clamp(1.375rem, 1.3098rem + 0.3261vw, 1.5625rem);
  --step-1: clamp(1.65rem, 1.5446rem + 0.5272vw, 1.9531rem);
  --step-2: clamp(1.98rem, 1.8196rem + 0.8022vw, 2.4413rem);
  --step-3: clamp(2.3763rem, 2.1413rem + 1.175vw, 3.0519rem);
  --step-4: clamp(2.8513rem, 2.516rem + 1.6761vw, 3.815rem);
  --step-5: clamp(3.4213rem, 2.9528rem + 2.3424vw, 4.7681rem);
}

body {
  @apply font-sans text-main;
}
p {
  @apply my-4 mx-0;
}

h1, h2, h3, h5, h6
h1 span, h2 span , h3 span, h5 span, h6 span{
  @apply font-sans my-5 break-words;
}

h1 {
  @apply  text-2xl sm:text-4xl sm:tracking-widest uppercase;
}

h2 {
  @apply text-xl sm:text-2xl;
  &.bigger {
    @apply sm:text-3xl;
  }
  &.smaller {
    @apply sm:text-xl;
  }
}

h3 {
  @apply text-xl;
  &.bigger {
    @apply text-2xl;
  }
  &.smaller {
    @apply text-lg;
  }
}

li {
  @apply font-light;
}

a {
  @apply text-linkcolor hover:text-hovercolor active:text-accent2 no-underline font-lg hover:underline;
}

strong {
  @apply font-700;
}

.bigger {
  @apply text-lg;
  :is(h2) {
    @apply text-3xl;
  }
  :is(h3) {
    @apply text-2xl;
  }
}
.smaller {
  @apply text-sm;
  :is(h2) {
    @apply text-xl;
  }
  :is(h3) {
    @apply text-lg;
  }
}

.bg-dark, .bg-dark1 {
  --main-color: white;
  --color-main:white;
  color:white;
}

.text-formatted {
  @apply type-formatted;

  & > :first-child {
    margin-top: 0; /* Remove margin top on first element */
  }
  h1, h2, h3, h4, h5, h6 {
    margin-block: 1.5em .75em;
  }
  p {
    margin-block: 1em;
  }
  &.field--name-body {
    margin-block: 2rem;
  }
  img.align-left {
    margin-right: 2rem;
  }
  img.align-right {
    margin-left: 2rem;
  }
}

.text-2xl{
  @apply text-2xl;
}

.text-4xl{
  @apply text-4xl;
}

.quote-text{
  @apply relative mx-8;
  @apply before:block before:content-['“'] before:top-0 before:left-[-1.5em]

}
.textshadow{
  text-shadow: 0px 2px 2px #000000;
}

.body-text-bottom{
  @apply h-max mt-auto mx-auto w-max max-w-full;
}

.body-text-bottom * {
  margin: 0!important;
  margin-block:0!important;
}

.alfaslab{
  @apply font-alfaslab;
  font-weight:200;
}
.title-stretch{
  @apply text-[5vw] xl:text-[60px];
}
.text-stretch{
  @apply text-[3vw] xl:text-[36px];
}
.title-slab{
  @apply font-alfaslab;
}
p.mobile-hidden{
  @apply hidden md:block;
}
a.mobile-hidden{
  @apply hidden md:inline-block;
}
p.mobile-only{
  @apply md:hidden inline-block;
}
p.mobile-only{
  @apply md:hidden block;
}

.block > h2{
  @apply uppercase text-2xl bold tracking-widest;
}

.h1-text-left .h1-text-left{
  @apply text-left
}

blockquote{
  @apply relative before:block before:absolute before:top-[-1rem] before:font-serif;
}

blockquote:before{
  content: '“';
  font-size:3em;
  right:calc(100% + .75rem);
}