<div class="story-container">
  {% embed 'midnight_theme:swiper'  with {
      title: 'More From the Newsroom'|trans,
      wrapperclass: 'slideCards',
    }%}
      {% block slides %}
        {% for slide in slides %}
          {% if slide.field_icon %}
            <div class="swiper-slide w-max">
              <div class="swiper-inner h-full">
                  <div class="relative card-w-icon white-text bg-black text-center w-72 box-border p-8 h-full">
                      <h3 class="uppercase traking-widest m-0 self-end"> {{slide['#block_content'].info.value}}</h3>
                      <div class="icon m-auto aspect-square h-32 grid items-center">{{slide.field_icon}} </div>
                      {{slide.body}}
                      {{slide.field_link_to_content}}
                  </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endblock %}
  {% endembed %}
</div>