/**
 * @file
 * Visual styles for buttons.
 */

.button,
.image-button,
a.button, .field--name-field-call-to-action a {
  @apply box-border inline-block mx-4 text-center text-[20px] px-4 py-3 md:text-[28px] md:py-5 md:px-7 uppercase font-bold min-w-[250px];
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}


.button:hover, .button:focus, .button:active,
.image-button:focus, .image-button:hover,.image-button:active,
a.button:hover, a.button:focus, a.button:active {
  text-decoration: none;;
}
.button:first-child,
.image-button:first-child {
  margin-right: 0;
  margin-left: 0;
}
.bg-secondary .button,
.bg-secondary .image-button,
.bg-secondary a.button, 
.bg-secondary .field--name-field-call-to-action a{
  border:2px solid black;
}

a.button-secondary {
  background-color: var(--button-secondary-bg-color);
  color: var(--button-secondary-text-color)!important;
}

a.button-large{
  max-width:600px;
  font-size:56px;
}

a.button-white{
  background-color: white;
  color:black;
  border:1px solid var(--button-secondary-bg-color);
}

a.button-small{
  min-width:0px;
  font-size: 18px;
}
a.arrow-link, .card-w-icon .field--type-link a {
  @apply uppercase font-semibold tracking-widest after:relative after:top-1 after:i-ssnw-arrow?mask after:inline-block after:bg-yellow after:content-["_"] after:ml-4 after:h-5 after:w-5;
}
a.arrow-link:hover::after {
  background-color: var(--hover-color);
}