/**
 * @file
 * Visual styles for menu.
 */

ul.menu {
  padding: 0;
  list-style: none outside;
  text-align: left; /* LTR */
}
[dir="rtl"] ul.menu {
  margin-left: 0;
  text-align: right;
}
.menu-item--expanded {
  list-style-type: circle;
  list-style-image: url(../../../../images/icons/menu-expanded.png);
}
.menu-item--collapsed {
  list-style-type: disc;
  list-style-image: url(../../../../images/icons/menu-collapsed.png); /* LTR */
}
[dir="rtl"] .menu-item--collapsed {
  list-style-image: url(../../../../images/icons/menu-collapsed-rtl.png);
}
.menu-item {
  margin: 0;
  padding-top: 0.2em;
}

footer .menu-item-no-footer{
  display:none!important;
}

.primary-nav__button-toggle{
  @apply bg-white border-0 i-mdi-chevron-down?mask text-white inline-block w-8 h-8 cursor-pointer absolute right-0;
}
.primary-nav__button-toggle[aria-expanded=true]{
  @apply i-mdi-chevron-up?mask w-8 h-8;
}

.menu--main>ul>li, .menu--internal>ul>li {
  position:relative;
  border-bottom:1px solid #8A8C8E;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.menu--internal>ul>li ul a{
  font-size: 1.2em;
  @apply font-black font-medium;
}

.menu--internal>ul>li>a{
  @apply font-black font-bold;
  font-size:1.5em;
}

.region-footer .menu--main>ul>li ul{
  @apply hidden;
}
.region-footer .menu--main>ul>li ul[aria-expanded=true]{
  @apply flex;
}
