<button class="menu-toggle" aria-expanded=false>
    <svg class="icon open w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="23.498" height="13.498" viewBox="0 0 23.498 13.498">
      <path fill="white" d="M-18824.25-1104.5a.749.749,0,0,1-.75-.746.75.75,0,0,1,.75-.751h22a.749.749,0,0,1,.75.751.748.748,0,0,1-.75.746Zm0-6a.749.749,0,0,1-.75-.746.75.75,0,0,1,.75-.751h22a.749.749,0,0,1,.75.751.748.748,0,0,1-.75.746Zm0-6a.749.749,0,0,1-.75-.746.75.75,0,0,1,.75-.751h22a.749.749,0,0,1,.75.751.748.748,0,0,1-.75.746Z" transform="translate(18825 1117.999)"/>
    </svg>

    <svg class="icon close w-8 h-8" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
      <path fill="white" d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z"/>
    </svg>
</button>
